{# templates/menu/index.html.twig #}

<h1>Menu</h1>
<ul>
    {% for section, items in menu %}
        <li><strong>{{ section }}</strong>
            <ul>
                {% for item in items %}
                    <li>{{ item }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
